/* #region commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
    background-size: contain;
}

img{
    max-width: 100%;
}
/* #endregion commons */

/* #region utilities */
.container{
    width: 60%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.col-12{
    width: 100%;
}
/* #endregion utilities */

/* Header */
#app-header
{
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    font-size: 1.25em;
    text-align: center;
    padding: 1rem 0;
    background-image: url("../img/wall.png");
    background-size: contain;
}

/* Main */
#app-main
{
    font-family: "Edu TAS Beginner", cursive;
    padding: 1.25rem 0;
    
    .container{

        .card{
            background-color: white;
            position: relative;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

            .card-img{
                padding: .75rem .75rem 0 .75rem;
            }

            .card-body{
                padding: 0 .75rem .75rem .75rem;
                font-size: .9rem;
                color: rgb(76, 73, 73);
            }

            .pin{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -30%);
            }
        }

        .card:hover{
            transform: scale(1.1) rotate(10deg);

        }

        .card:hover > .pin{
            display: none;
        }
    }

    .overlay{
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
    }
}

/* Media query */
@media screen and (min-width: 611px) {

    .container-md{
        width: 75%;
    }

    .col-sm-6{
        width: calc((100% / 12) * 6 - 1rem);
        flex-grow: 1;
    }
    
    #app-header{
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    #app-main{
        margin: 2rem 0;
    }

}

@media screen and (min-width: 920px) {
    
    .container-lg{
        width: 65%;
    }

    .col-md-4{
        width: calc((100% / 12) * 4 - 1rem);
        flex-grow: 1;
    }

    #app-header
    {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    #app-main
    {

        .card{
            .card-img{
                padding: 1rem 1rem 0 1rem;
            }

            .card-body{
                padding: 0 1rem 1rem 1rem;
                font-size: 1rem;
            }
        }
    }
}




