/* #region commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
}

img{
    max-width: 100%;
}
/* #endregion commons */

/* #region utilities */
.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    gap: 1rem;
}

[class^="col-"]{
    padding: 1rem;
}

.col-4{
    width: calc((100% / 12) * 4 - 1rem);
}
/* #endregion utilities */


/* Header */
#app-header
{
    font-family: "Sometype Mono", monospace;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    background-image: url("../img/wall.png");
}

/* Main */
#app-main
{
    font-family: "Edu TAS Beginner", cursive;
    margin: 3rem 0rem;

    .container{

        .card{
            background-color: white;
            position: relative;

            .card-img{
                padding: 1rem 1rem 0 1rem;
            }

            .card-body{
                padding: 0 1rem 1rem 1rem;
                font-size: .8rem;
                color: rgb(76, 73, 73);
            }

            .pin{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -30%);
            }
        }

        .card:hover{
            transform: scale(1.1) rotate(15deg);
        }
    }
}

/* Media query */
@media screen and (max-width: 425px) {
    
    #app-header{
        font-size: 1rem;
        padding: 1rem 0;
    }

    

}

@media screen and (min-width: 425px) {
    
    #app-header{
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }
}



@media screen and (min-width: 768px) {
    
    #app-header{
        font-size: 2rem;
        padding: 2rem 0;
    }
}




